html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    /* background: url("/Profile/img/treasureflower.JPG") no-repeat center center fixed; */
    /* background: url("/img/treasureflower.JPG") no-repeat center center fixed; */
    background: url("/Profile/img/waves.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

